{{set . "title" "Article list"}}
{{template "header.html" .}}

<div class="col-sm-10 col-sm-offset-1">
	<h3 class="centred">Article list</h3>
	<div class="panel panel-default">		
		<div class="panel-heading">
			<a href="/admin/article/create" class="btn btn-primary btn-sm">Create new article</a>
		</div>
		<div class="panel-body">
			{{if .articles}}
			{{range .articles}}
			<div class="panel panel-info">
				<div class="panel-heading">
				<h4 class="nomargin">{{.Title}} - <small>Author: <a href="/account/user/retrieve/{{.Author.Id}}">{{.Author.FirstName}} {{.Author.LastName}}</a>, Created: {{.Created}}</small>
				<a href="/admin/article/update/{{.Id}}" class="btn btn-warning btn-sm">Edit</a>
				<a href="/admin/article/delete/{{.Id}}" class="btn btn-warning btn-sm">Delete</a>
				</h4>
				</div>
				<div class="panel-body article-content">
					{{.Content}}
				</div>
			</div>
			{{end}}
			{{else}}
			<div class="info">Have no articles yet</div>
			{{end}}
		</div>
	</div>
</div>

{{template "footer.html" .}}
