{{set . "title" "Chat room"}}
{{template "header.html" .}}

<div class="chat">
<div class="dialog col-sm-offset-2 col-sm-8">
  <dl id="thread" class="dl-horizontal"></dl>
</div>
<div class="message-box">
  <div class="col-md-8 col-md-offset-2">
    <textarea id="message" class="form-control" autofocus></textarea>
    <input type="submit" class="btn btn-primary btn-sm btn-block" value="send" id="send">
  </div>
  
</div>
</div>

<script type="text/javascript">
  // Create a socket
  var socket = new WebSocket('ws://'+window.location.host+'/Chat/RoomSocket')
  // Display a message
  var display = function(event) {
    var height=$("#thread").height(); 
    $('#thread').append("<dt>"+event.User+"</dt><dd>"+event.Text.split('\n').join('<br/>')+"</dd>");
    $('html, body').animate({scrollTop:height}, 'fast');
  }
  // Message received on the socket
  socket.onmessage = function(event) {
    display(JSON.parse(event.data))
  }
  $('#send').click(function(e) {
    var message = $('#message').val()
    $('#message').val('')
    socket.send(message)
  });
  $('#message').keypress(function(e) {
    if((e.keyCode == 10 || e.keyCode == 13) && e.ctrlKey) {
      $('#send').click()
      e.preventDefault()
    }
  })
</script>