{{set . "title" "Create new role"}}
{{template "header.html" .}}

<div class="col-sm-6 col-sm-offset-3">
	
	<div class="panel panel-default">		
		<div class="panel-heading">
			<h3 class="centred">Create new Role</h3>
		</div>
		<form name="create_role" method="post" action="/admin/role/create">
		<div class="panel-body">	
			{{with $field := field "role.Name" .}}		
			<div class="form-group">
				<label for="{{$field.Id}}">Role name:</label>
				<input type="text" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Flash}}" class="{{$field.ErrorClass}} form-control" placeholder="Role name">
				<span class="error">{{$field.Error}}</span>
			</div>
			{{end}}
			
		</div>
		<div class="panel-footer">
			<input type="submit" class="btn btn-primary btn-sm btn-block" value="Create">			
		</div>
		</form>
	</div>
</div>

{{template "footer.html" .}}