{{append . "moreStyles" "styles/css/styles.css"}}

<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    <script src="/public/js/dist/lib.js" type="text/javascript"></script>
    <script src="/public/js/dist/main.js" type="text/javascript"></script>
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript"></script>
    {{end}}
    <script type="text/javascript">
      $(document).ready(function(){
        $sidebar = 0;
        $('#toggleSidebar').click(function() {
          if ($sidebar === 1) {
            $('#sidebar').hide();
            $('#toggleSidebar i').addClass('icon-chevron-left');
            $('#toggleSidebar i').removeClass('icon-chevron-right');
            $sidebar = 0;
          }
          else {
            $('#sidebar').show();
            $('#toggleSidebar i').addClass('icon-chevron-right');
            $('#toggleSidebar i').removeClass('icon-chevron-left');
            $sidebar = 1;
          }

          return false;
        });
      });
    </script>
  </head>
  <body>
{{template "menu.html" .}}