<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Gogo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/admin/article/list">Article</a></li>
        <li><a href="/admin/user/list">User</a></li>
        <li><a href="/admin/role/list">Role</a></li>
        <li><a href="/admin/permission/list">Permission</a></li>
        <li><a href="/chat/room">Chat</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
      {{if .loggedInUser}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{.loggedInUser.FirstName}} {{.loggedInUser.LastName}}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/account/user/profile">Profile</a></li>
            <li><a href="/account/user/logout">Log out</a></li>
          </ul>
        </li>        
      {{else}}  
        <li><a href="/account/user/signup">Sign up</a></li>
        <li><a href="/account/user/login">Log in</a></li>
      {{end}}  
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>