@import "bootstrap/less/bootstrap";
@import "font-awesome/less/font-awesome";
@import (inline) "alertify.js/themes/alertify.core.css";
@import (inline) "alertify.js/themes/alertify.bootstrap.css";


.nomargin {
	margin: 0;
}

.message-box {
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
	background-color: #F2F2F2;
}

#thread {
	position: absolute;
	bottom: 20px;
}

.chat {
	height: 100%;
	width: 100%;
}

.dialog {
	border-left: 3px solid #F2F2F2;
	border-right: 3px solid #F2F2F2;
	border-top: 3px solid #F2F2F2;
	position: absolute;
	height:80%;
}
.article-content {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.pupupu {
	
}